.topic {
    line-height: 1.5;

    &.level-0 {
        padding-top: 20px;
        padding-left: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &.level-1 {
        padding-left: 30px;
        padding-top: 10px;
        text-transform: none;
        font-weight: bold;

        & > a{
            display:inline-block;
            padding-bottom: 5px;
        }
    }

    &.level-2 {
        padding-left: 50px;
        text-transform: none;
        font-weight: normal;
    }

    a {
        color: rgba(0, 0, 0, 0.59);

        &:hover {
            color: #4A90E2;
        }
    }
}
