.magazine-item{
    &__img img{
        max-width: 100%;
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
    }

    &__link{
        padding-top: 10px;
    }

    &__more{
        padding-top: 10px!important;
        ul{
            margin: 0;
            padding: 10px 0;
            li{
                line-height: 16px;
                list-style-type: none;
                padding-bottom: 32px;
            }
        }
    }

    .article{
        font-family: Georgia;
        font-size: 17px;
        line-height: 1.5;
        color: #434343;
    }
    .linked-articles{
        padding-top: 20px;
        font-family: Georgia;
        font-size: 17px;
        line-height: 1.18;
        color: #4e4e4e;
        h2{
            font-family: Georgia;
            font-size: 17px;
            font-weight: bold;
            padding: 20px 0;
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                line-height: 20px;
                padding: 16px 0;
                a{
                    color: #4e4e4e;
                    &:hover{
                        color: #4a90e2;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
