.magazines{
    .content-block__main-header{
        height: 96px;
        text-align: center;
        color: #36747f;
        border-bottom: none;
        background-color: #ffffff;
        padding: 19px 40px 0px 40px;
        display: table;
        width: 100%;
    }
}
