.partners{
    .prtitem {
        float: left;
        width: 25%;
        text-align: center;
        margin-bottom: 25px;
        padding: 0 10px;
        color: #9E3215;
        font-size: 1.0em;
    }
    &:after{
        content:'';
        display: block;
        clear: both;
    }
}
.static{
    .content-block__main-header{
        height: 96px;
        text-align: center;
        color: #36747f;
        border-bottom: none;
        background-color: #ffffff;
        padding: 19px 40px 0px 40px;
        display: table;
        width: 100%;
    }
}
