HTML, BODY{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}
BODY{
    background-image: url(/img/layout/main-bg.jpg);
    background-position: bottom;
    background-repeat: repeat-y;
    &.var1{
        background-image: url(/img/layout/main-bg.jpg);
        background-repeat: no-repeat;
        //background-attachment: fixed;
        background-attachment: local;
        background-position: top;
        background-size: 150%;
        //background-size: cover;
    }
}


