.breadcrumbs{

    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            font-size: 12px;
            line-height: 41px;
            color: rgba(0, 0, 0, 0.59);
            a{
                color: rgba(0, 0, 0, 0.59);
                text-decoration: none;
                &:hover{
                    color: #4A90E2;
                    text-decoration: none;
                }
            }
            &:after{
                display: inline-block;
                content: '>';
                padding: 0 5px;
            }
            &:last-child:after{
                display: none;
            }
        }
    }
}
