.std-btn{
    background-color: #c6913c;
    font-size: 18px;
    height: 37px;
    width: auto;
    border: 0;
    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    vertical-align: middle;
}
