.pagination {
    height: 32px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    .btn-prev,  .btn-next {
        background: url('/img/layout/strela-down-list.svg');
        width: 32px;
        height: 32px;
        cursor:pointer;
        &.disabled{
            cursor:default;
            opacity:0.5;
        }

    }
    .btn-prev { transform: rotate(90deg);}
    .btn-next { transform: rotate(-90deg); }

    .current{
        background-color: rgba(224, 224, 224, 0.63);
        width: 32px;
        height: 32px;

        input{
            border: 0 !important;
            width: 32px;
            height: 32px;
            font-size: 16px;
            font-weight: bold;
            line-height: 31px;
            text-align: center;
            color: #666666;
            padding: 0;
            background: transparent;
            &:focus{
                outline: none !important;
            }
        }
    }
    .comment{
        height: 37px;
        font-size: 16px;
        line-height: 31px;
        color: rgba(0, 0, 0, 0.54);
    }
}

