.search-block{
    height: 130px;
    padding-top: 29px !important;
    .search-settings{
        height: 37px;
        margin: auto;
        font-size: 14px;
        line-height: 2.43;
        text-align: center;
        color: #c6913c;
        display: block;
    }
    border-bottom:solid 2px #4e360d47 !important;
}
