.topic-1 {
    header { background: url('/img/layout/banners/Kollage_001.png'); }
    .bg-wrapper-overlay{ background-color: rgba(181, 130, 165);}
}

.topic-2 {
    header { background: url('/img/layout/banners/Kollage_002.png'); }
    .bg-wrapper-overlay{ background-color: rgba(79, 106, 176);}
}

.topic-3 {
    header { background: url('/img/layout/banners/Kollage_003.png'); }
    .bg-wrapper-overlay{ background-color: rgba(79, 176, 153);}
}

.topic-4 {
    header { background: url('/img/layout/banners/Kollage_004.png'); }
    .bg-wrapper-overlay{ background-color: rgba(107, 79, 176);}
}

.topic-5 {
    header { background: url('/img/layout/banners/Kollage_005.png'); }
    .bg-wrapper-overlay{ background-color: rgba(162, 162, 162);}
}

.topic-6 {
    header { background: url('/img/layout/banners/Kollage_006.png'); }
    .bg-wrapper-overlay{ background-color: rgba(79, 156, 176);}
}

.topic-7 {
    header { background: url('/img/layout/banners/Kollage_007.png'); }
    .bg-wrapper-overlay{ background-color: rgba(188, 108, 80);}
}

.topic-8 {
    header { background: url('/img/layout/banners/Kollage_008.png'); }
    .bg-wrapper-overlay{ background-color: rgba(114, 176, 79);}
}

.topic-9 {
    header { background: url('/img/layout/banners/Kollage_009.png'); }
    .bg-wrapper-overlay{ background-color: rgba(176, 157, 79);}
}

.topic-10 {
    header { background: url('/img/layout/banners/Kollage_010.png'); }
    .bg-wrapper-overlay{ background-color: rgba(176, 79, 94);}
}

.topic-11 {
    header { background: url('/img/layout/banners/Kollage_011.png'); }
    .bg-wrapper-overlay{ background-color: rgba(159, 145, 139);}
}

.topic-12 {
    header { background: url('/img/layout/banners/Kollage_012.png'); }
    .bg-wrapper-overlay{ background-color: rgba(176, 123, 79);}
}
