.topic-1 {
    header { background: url('/img/layout/banners/Kollage_001.png'); }
    .bg-wrapper-overlay{ background-color: #7ea4ba;}
}

.topic-2 {
    header { background: url('/img/layout/banners/Kollage_002.png'); }
    .bg-wrapper-overlay{ background-color: #8477af;}
}

.topic-3 {
    header { background: url('/img/layout/banners/Kollage_003.png'); }
    .bg-wrapper-overlay{ background-color: #b08a4f;}
}

.topic-4 {
    header { background: url('/img/layout/banners/Kollage_004.png'); }
    .bg-wrapper-overlay{ background-color: #82b04f;}
}

.topic-5 {
    header { background: url('/img/layout/banners/Kollage_005.png'); }
    .bg-wrapper-overlay{ background-color: #d6d6d6;}
}

.topic-6 {
    header { background: url('/img/layout/banners/Kollage_006.png'); }
    .bg-wrapper-overlay{ background-color: #b0714f;}
}

.topic-7 {
    header { background: url('/img/layout/banners/Kollage_007.png'); }
    .bg-wrapper-overlay{ background-color: #bc6c50;}
}

.topic-8 {
    header { background: url('/img/layout/banners/Kollage_008.png'); }
    .bg-wrapper-overlay{ background-color: #a14fb0;}
}

.topic-9 {
    header { background: url('/img/layout/banners/Kollage_009.png'); }
    .bg-wrapper-overlay{ background-color: #4fb0ad;}
}

.topic-10 {
    header { background: url('/img/layout/banners/Kollage_010.png'); }
    .bg-wrapper-overlay{ background-color: #a2707c;}
}

.topic-11 {
    header { background: url('/img/layout/banners/Kollage_011.png'); }
    .bg-wrapper-overlay{ background-color: #7fb04f;}
}

.topic-12 {
    header { background: url('/img/layout/banners/Kollage_012.png'); }
    .bg-wrapper-overlay{ background-color: #4fb065;}
}
